# Data Clean and wrangling

Downdloaded data files from Github and imported as a batch

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from numpy.random import seed
import seaborn as sns
from os import listdir
import re

In [3]:
filepaths = ['data/tennis_atp/match_00_19/'+f for f in listdir("data/tennis_atp/match_00_19") if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths), sort=False)

In [4]:
filepaths

['data/tennis_atp/match_00_19/atp_matches_2000.csv',
 'data/tennis_atp/match_00_19/atp_matches_2001.csv',
 'data/tennis_atp/match_00_19/atp_matches_2002.csv',
 'data/tennis_atp/match_00_19/atp_matches_2003.csv',
 'data/tennis_atp/match_00_19/atp_matches_2004.csv',
 'data/tennis_atp/match_00_19/atp_matches_2005.csv',
 'data/tennis_atp/match_00_19/atp_matches_2006.csv',
 'data/tennis_atp/match_00_19/atp_matches_2007.csv',
 'data/tennis_atp/match_00_19/atp_matches_2008.csv',
 'data/tennis_atp/match_00_19/atp_matches_2009.csv',
 'data/tennis_atp/match_00_19/atp_matches_2010.csv',
 'data/tennis_atp/match_00_19/atp_matches_2011.csv',
 'data/tennis_atp/match_00_19/atp_matches_2012.csv',
 'data/tennis_atp/match_00_19/atp_matches_2013.csv',
 'data/tennis_atp/match_00_19/atp_matches_2014.csv',
 'data/tennis_atp/match_00_19/atp_matches_2015.csv',
 'data/tennis_atp/match_00_19/atp_matches_2016.csv',
 'data/tennis_atp/match_00_19/atp_matches_2017.csv',
 'data/tennis_atp/match_00_19/atp_matches_2018.csv',
 'data/tennis_atp/match_00_19/atp_matches_2019.csv']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61560 entries, 0 to 2780
Data columns (total 49 columns):
tourney_id            61560 non-null object
tourney_name          61560 non-null object
surface               61442 non-null object
draw_size             2781 non-null float64
tourney_level         61560 non-null object
tourney_date          61560 non-null int64
match_num             61560 non-null int64
winner_id             61560 non-null int64
winner_seed           25567 non-null object
winner_entry          7346 non-null object
winner_name           61560 non-null object
winner_hand           61542 non-null object
winner_ht             56229 non-null float64
winner_ioc            61560 non-null object
winner_age            61545 non-null float64
loser_id              61560 non-null int64
loser_seed            13973 non-null object
loser_entry           12107 non-null object
loser_name            61560 non-null object
loser_hand            61514 non-null object
loser_ht              53389 non-null float64
loser_ioc             61560 non-null object
loser_age             61529 non-null float64
score                 61559 non-null object
best_of               61560 non-null int64
round                 61560 non-null object
minutes               54478 non-null float64
w_ace                 55781 non-null float64
w_df                  55781 non-null float64
w_svpt                55781 non-null float64
w_1stIn               55781 non-null float64
w_1stWon              55781 non-null float64
w_2ndWon              55781 non-null float64
w_SvGms               55781 non-null float64
w_bpSaved             55781 non-null float64
w_bpFaced             55781 non-null float64
l_ace                 55781 non-null float64
l_df                  55781 non-null float64
l_svpt                55781 non-null float64
l_1stIn               55781 non-null float64
l_1stWon              55781 non-null float64
l_2ndWon              55781 non-null float64
l_SvGms               55781 non-null float64
l_bpSaved             55781 non-null float64
l_bpFaced             55781 non-null float64
winner_rank           61057 non-null float64
winner_rank_points    61057 non-null float64
loser_rank            60263 non-null float64
loser_rank_points     60263 non-null float64
dtypes: float64(28), int64(5), object(16)
memory usage: 23.5+ MB

In [6]:
df = df[df.score.str.contains('RET') == False]
print('1890 retired rows are removed')

1890 retired rows are removed

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59670 entries, 0 to 2780
Data columns (total 49 columns):
tourney_id            59670 non-null object
tourney_name          59670 non-null object
surface               59557 non-null object
draw_size             2722 non-null float64
tourney_level         59670 non-null object
tourney_date          59670 non-null int64
match_num             59670 non-null int64
winner_id             59670 non-null int64
winner_seed           24958 non-null object
winner_entry          7058 non-null object
winner_name           59670 non-null object
winner_hand           59653 non-null object
winner_ht             54523 non-null float64
winner_ioc            59670 non-null object
winner_age            59657 non-null float64
loser_id              59670 non-null int64
loser_seed            13458 non-null object
loser_entry           11886 non-null object
loser_name            59670 non-null object
loser_hand            59624 non-null object
loser_ht              51672 non-null float64
loser_ioc             59670 non-null object
loser_age             59639 non-null float64
score                 59670 non-null object
best_of               59670 non-null int64
round                 59670 non-null object
minutes               52791 non-null float64
w_ace                 54044 non-null float64
w_df                  54044 non-null float64
w_svpt                54044 non-null float64
w_1stIn               54044 non-null float64
w_1stWon              54044 non-null float64
w_2ndWon              54044 non-null float64
w_SvGms               54044 non-null float64
w_bpSaved             54044 non-null float64
w_bpFaced             54044 non-null float64
l_ace                 54044 non-null float64
l_df                  54044 non-null float64
l_svpt                54044 non-null float64
l_1stIn               54044 non-null float64
l_1stWon              54044 non-null float64
l_2ndWon              54044 non-null float64
l_SvGms               54044 non-null float64
l_bpSaved             54044 non-null float64
l_bpFaced             54044 non-null float64
winner_rank           59191 non-null float64
winner_rank_points    59191 non-null float64
loser_rank            58418 non-null float64
loser_rank_points     58418 non-null float64
dtypes: float64(28), int64(5), object(16)
memory usage: 22.8+ MB

In [8]:
df.groupby('tourney_level').tourney_id.count()

tourney_level
A    32651
D     5890
F      286
G     9746
M    11097
Name: tourney_id, dtype: int64

In [9]:
Total_A_origin = df[df.tourney_level=='A'].tourney_id.count()
Total_D_origin = df[df.tourney_level=='D'].tourney_id.count()
Total_F_origin = df[df.tourney_level=='F'].tourney_id.count()
Total_G_origin = df[df.tourney_level=='G'].tourney_id.count()
Total_M_origin = df[df.tourney_level=='M'].tourney_id.count()
print('Total games of level A = ' + str(Total_A_origin))
print('Total games of level D = ' + str(Total_D_origin))
print('Total games of level F = ' + str(Total_F_origin))
print('Total games of level G = ' + str(Total_G_origin))
print('Total games of level M = ' + str(Total_M_origin))

Total games of level A = 32651
Total games of level D = 5890
Total games of level F = 286
Total games of level G = 9746
Total games of level M = 11097

In [10]:
# remove tourey_level F with 286 rows.  So small unkown data set will not impact overll analysis
df = df[df.tourney_level!='F']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59384 entries, 0 to 2780
Data columns (total 49 columns):
tourney_id            59384 non-null object
tourney_name          59384 non-null object
surface               59271 non-null object
draw_size             2707 non-null float64
tourney_level         59384 non-null object
tourney_date          59384 non-null int64
match_num             59384 non-null int64
winner_id             59384 non-null int64
winner_seed           24850 non-null object
winner_entry          7058 non-null object
winner_name           59384 non-null object
winner_hand           59367 non-null object
winner_ht             54258 non-null float64
winner_ioc            59384 non-null object
winner_age            59371 non-null float64
loser_id              59384 non-null int64
loser_seed            13350 non-null object
loser_entry           11886 non-null object
loser_name            59384 non-null object
loser_hand            59338 non-null object
loser_ht              51408 non-null float64
loser_ioc             59384 non-null object
loser_age             59353 non-null float64
score                 59384 non-null object
best_of               59384 non-null int64
round                 59384 non-null object
minutes               52530 non-null float64
w_ace                 53768 non-null float64
w_df                  53768 non-null float64
w_svpt                53768 non-null float64
w_1stIn               53768 non-null float64
w_1stWon              53768 non-null float64
w_2ndWon              53768 non-null float64
w_SvGms               53768 non-null float64
w_bpSaved             53768 non-null float64
w_bpFaced             53768 non-null float64
l_ace                 53768 non-null float64
l_df                  53768 non-null float64
l_svpt                53768 non-null float64
l_1stIn               53768 non-null float64
l_1stWon              53768 non-null float64
l_2ndWon              53768 non-null float64
l_SvGms               53768 non-null float64
l_bpSaved             53768 non-null float64
l_bpFaced             53768 non-null float64
winner_rank           58905 non-null float64
winner_rank_points    58905 non-null float64
loser_rank            58132 non-null float64
loser_rank_points     58132 non-null float64
dtypes: float64(28), int64(5), object(16)
memory usage: 22.7+ MB

Remove columns will not be used for late analysis

In [12]:
print('Verify results')
df.groupby('tourney_level').tourney_id.count()

Verify results

tourney_level
A    32651
D     5890
G     9746
M    11097
Name: tourney_id, dtype: int64

In [13]:
# remove rows dont have players attributes such as hadedneess, age, etc.  
df = df[df.winner_hand.notnull()]
df = df[df.winner_ht.notnull()]
df = df[df.winner_age.notnull()]
df = df[df.winner_rank.notnull()]
df = df[df.loser_hand.notnull()]
df = df[df.loser_ht.notnull()]
df = df[df.loser_age.notnull()]
df = df[df.loser_rank.notnull()]

In [14]:
# drop columns with low ratio of complete data entries
columns = ['draw_size','winner_seed','winner_entry','loser_seed','loser_entry']
df.drop(columns, inplace=True, axis=1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48953 entries, 0 to 2773
Data columns (total 44 columns):
tourney_id            48953 non-null object
tourney_name          48953 non-null object
surface               48917 non-null object
tourney_level         48953 non-null object
tourney_date          48953 non-null int64
match_num             48953 non-null int64
winner_id             48953 non-null int64
winner_name           48953 non-null object
winner_hand           48953 non-null object
winner_ht             48953 non-null float64
winner_ioc            48953 non-null object
winner_age            48953 non-null float64
loser_id              48953 non-null int64
loser_name            48953 non-null object
loser_hand            48953 non-null object
loser_ht              48953 non-null float64
loser_ioc             48953 non-null object
loser_age             48953 non-null float64
score                 48953 non-null object
best_of               48953 non-null int64
round                 48953 non-null object
minutes               45453 non-null float64
w_ace                 46441 non-null float64
w_df                  46441 non-null float64
w_svpt                46441 non-null float64
w_1stIn               46441 non-null float64
w_1stWon              46441 non-null float64
w_2ndWon              46441 non-null float64
w_SvGms               46441 non-null float64
w_bpSaved             46441 non-null float64
w_bpFaced             46441 non-null float64
l_ace                 46441 non-null float64
l_df                  46441 non-null float64
l_svpt                46441 non-null float64
l_1stIn               46441 non-null float64
l_1stWon              46441 non-null float64
l_2ndWon              46441 non-null float64
l_SvGms               46441 non-null float64
l_bpSaved             46441 non-null float64
l_bpFaced             46441 non-null float64
winner_rank           48953 non-null float64
winner_rank_points    48953 non-null float64
loser_rank            48953 non-null float64
loser_rank_points     48953 non-null float64
dtypes: float64(27), int64(5), object(12)
memory usage: 16.8+ MB

In [16]:
print('Remove numeric fields which are null.')
df = df[df.minutes.notnull()]
df=df[df['w_ace'].notnull()]
df=df[df['w_df'].notnull()]
df=df[df['w_svpt'].notnull()]
df=df[df['w_1stIn'].notnull()]
df=df[df['w_1stWon'].notnull()]
df=df[df['w_2ndWon'].notnull()]
df=df[df['w_SvGms'].notnull()]
df=df[df['w_bpSaved'].notnull()]
df=df[df['w_bpFaced'].notnull()]
df=df[df['l_ace'].notnull()]
df=df[df['l_df'].notnull()]
df=df[df['l_svpt'].notnull()]
df=df[df['l_1stIn'].notnull()]
df=df[df['l_1stWon'].notnull()]
df=df[df['l_2ndWon'].notnull()]
df=df[df['l_SvGms'].notnull()]
df=df[df['l_bpSaved'].notnull()]
df=df[df['l_bpFaced'].notnull()]

Remove numeric fields which are null.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45441 entries, 0 to 2773
Data columns (total 44 columns):
tourney_id            45441 non-null object
tourney_name          45441 non-null object
surface               45441 non-null object
tourney_level         45441 non-null object
tourney_date          45441 non-null int64
match_num             45441 non-null int64
winner_id             45441 non-null int64
winner_name           45441 non-null object
winner_hand           45441 non-null object
winner_ht             45441 non-null float64
winner_ioc            45441 non-null object
winner_age            45441 non-null float64
loser_id              45441 non-null int64
loser_name            45441 non-null object
loser_hand            45441 non-null object
loser_ht              45441 non-null float64
loser_ioc             45441 non-null object
loser_age             45441 non-null float64
score                 45441 non-null object
best_of               45441 non-null int64
round                 45441 non-null object
minutes               45441 non-null float64
w_ace                 45441 non-null float64
w_df                  45441 non-null float64
w_svpt                45441 non-null float64
w_1stIn               45441 non-null float64
w_1stWon              45441 non-null float64
w_2ndWon              45441 non-null float64
w_SvGms               45441 non-null float64
w_bpSaved             45441 non-null float64
w_bpFaced             45441 non-null float64
l_ace                 45441 non-null float64
l_df                  45441 non-null float64
l_svpt                45441 non-null float64
l_1stIn               45441 non-null float64
l_1stWon              45441 non-null float64
l_2ndWon              45441 non-null float64
l_SvGms               45441 non-null float64
l_bpSaved             45441 non-null float64
l_bpFaced             45441 non-null float64
winner_rank           45441 non-null float64
winner_rank_points    45441 non-null float64
loser_rank            45441 non-null float64
loser_rank_points     45441 non-null float64
dtypes: float64(27), int64(5), object(12)
memory usage: 15.6+ MB

In [18]:
print('Verify results')
df.groupby('tourney_level').tourney_id.count()

Verify results

tourney_level
A    27131
D      137
G     8390
M     9783
Name: tourney_id, dtype: int64

In [19]:
# After the above clean up, level D only has 139 complete data entry against total 6060 rows.  Leve D data donst have good data.  Remove D level
df = df[df.tourney_level!='D']

In [20]:
print('Verify results')
df.groupby('tourney_level').tourney_id.count()

Verify results

tourney_level
A    27131
G     8390
M     9783
Name: tourney_id, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45304 entries, 0 to 2588
Data columns (total 44 columns):
tourney_id            45304 non-null object
tourney_name          45304 non-null object
surface               45304 non-null object
tourney_level         45304 non-null object
tourney_date          45304 non-null int64
match_num             45304 non-null int64
winner_id             45304 non-null int64
winner_name           45304 non-null object
winner_hand           45304 non-null object
winner_ht             45304 non-null float64
winner_ioc            45304 non-null object
winner_age            45304 non-null float64
loser_id              45304 non-null int64
loser_name            45304 non-null object
loser_hand            45304 non-null object
loser_ht              45304 non-null float64
loser_ioc             45304 non-null object
loser_age             45304 non-null float64
score                 45304 non-null object
best_of               45304 non-null int64
round                 45304 non-null object
minutes               45304 non-null float64
w_ace                 45304 non-null float64
w_df                  45304 non-null float64
w_svpt                45304 non-null float64
w_1stIn               45304 non-null float64
w_1stWon              45304 non-null float64
w_2ndWon              45304 non-null float64
w_SvGms               45304 non-null float64
w_bpSaved             45304 non-null float64
w_bpFaced             45304 non-null float64
l_ace                 45304 non-null float64
l_df                  45304 non-null float64
l_svpt                45304 non-null float64
l_1stIn               45304 non-null float64
l_1stWon              45304 non-null float64
l_2ndWon              45304 non-null float64
l_SvGms               45304 non-null float64
l_bpSaved             45304 non-null float64
l_bpFaced             45304 non-null float64
winner_rank           45304 non-null float64
winner_rank_points    45304 non-null float64
loser_rank            45304 non-null float64
loser_rank_points     45304 non-null float64
dtypes: float64(27), int64(5), object(12)
memory usage: 15.6+ MB

In [22]:
# calculate percentae of serve stats for winners
df['w_ace_pct'] = np.around(df.w_ace/df.w_svpt, 2)
df['w_df_pct'] = np.around(df.w_df/df.w_svpt, 2)
df['w_1stIn_pct'] = np.around(df.w_1stIn / df.w_svpt, 2)
df['w_2ndIn_pct'] = np.around(((df.w_svpt - df.w_1stIn) / df.w_svpt), 2)
df['w_1stWon_pct'] = np.around(df.w_1stWon / df.w_svpt, 2)
df['w_2ndWon_pct'] = np.around(df.w_2ndWon/df.w_svpt, 2)
# calculate total games won and loss
df['w_GmsWon'] = df.w_SvGms-(df.w_bpFaced - df.w_bpSaved) + (df.l_bpFaced - df.l_bpSaved)
df['w_GmsLoss'] = df.l_SvGms-(df.l_bpFaced - df.l_bpSaved) + (df.w_bpFaced - df.w_bpSaved)
# calculate percentae of serve stats for losers
df['l_ace_pct'] = np.around(df.l_ace/df.l_svpt, 2)
df['l_df_pct'] = np.around(df.l_df/df.l_svpt, 2)
df['l_1stIn_pct'] = np.around(df.l_1stIn / df.l_svpt, 2)
df['l_2ndIn_pct'] = np.around(((df.l_svpt - df.l_1stIn) / df.l_svpt), 2)
df['l_1stWon_pct'] = np.around(df.l_1stWon / df.l_svpt, 2)
df['l_2ndWon_pct'] = np.around(df.l_2ndWon/df.l_svpt, 2)

In [23]:
# still have data issue or need to understand data
#df['w_svptWon_pct'] = np.around((df.w_ace + df.w_1stWon + df.w_2ndWon - df.w_df) / (df.w_svpt + df.w_ace), 2)
#df['l_svptWon_pct'] = np.around((df.l_ace + df.l_1stWon + df.l_2ndWon - df.l_df) / (df.l_svpt + df.w_ace), 2)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45304 entries, 0 to 2588
Data columns (total 58 columns):
tourney_id            45304 non-null object
tourney_name          45304 non-null object
surface               45304 non-null object
tourney_level         45304 non-null object
tourney_date          45304 non-null int64
match_num             45304 non-null int64
winner_id             45304 non-null int64
winner_name           45304 non-null object
winner_hand           45304 non-null object
winner_ht             45304 non-null float64
winner_ioc            45304 non-null object
winner_age            45304 non-null float64
loser_id              45304 non-null int64
loser_name            45304 non-null object
loser_hand            45304 non-null object
loser_ht              45304 non-null float64
loser_ioc             45304 non-null object
loser_age             45304 non-null float64
score                 45304 non-null object
best_of               45304 non-null int64
round                 45304 non-null object
minutes               45304 non-null float64
w_ace                 45304 non-null float64
w_df                  45304 non-null float64
w_svpt                45304 non-null float64
w_1stIn               45304 non-null float64
w_1stWon              45304 non-null float64
w_2ndWon              45304 non-null float64
w_SvGms               45304 non-null float64
w_bpSaved             45304 non-null float64
w_bpFaced             45304 non-null float64
l_ace                 45304 non-null float64
l_df                  45304 non-null float64
l_svpt                45304 non-null float64
l_1stIn               45304 non-null float64
l_1stWon              45304 non-null float64
l_2ndWon              45304 non-null float64
l_SvGms               45304 non-null float64
l_bpSaved             45304 non-null float64
l_bpFaced             45304 non-null float64
winner_rank           45304 non-null float64
winner_rank_points    45304 non-null float64
loser_rank            45304 non-null float64
loser_rank_points     45304 non-null float64
w_ace_pct             45304 non-null float64
w_df_pct              45304 non-null float64
w_1stIn_pct           45304 non-null float64
w_2ndIn_pct           45304 non-null float64
w_1stWon_pct          45304 non-null float64
w_2ndWon_pct          45304 non-null float64
w_GmsWon              45304 non-null float64
w_GmsLoss             45304 non-null float64
l_ace_pct             45302 non-null float64
l_df_pct              45302 non-null float64
l_1stIn_pct           45302 non-null float64
l_2ndIn_pct           45302 non-null float64
l_1stWon_pct          45302 non-null float64
l_2ndWon_pct          45302 non-null float64
dtypes: float64(41), int64(5), object(12)
memory usage: 20.4+ MB

In [25]:
print( 'There are two calculation for loser records are null.  Export the eveption to csv file.')
df[df.l_ace_pct.isnull()].to_csv('data/match_exception1.csv')

There are two calculation for loser records are null.  Export the eveption to csv file.

In [26]:
print('These two exception is because no data captured for loaser.  Need to exclue them.')
df = df[df.l_ace_pct.notnull()]

These two exception is because no data captured for loaser.  Need to exclue them.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45302 entries, 0 to 2588
Data columns (total 58 columns):
tourney_id            45302 non-null object
tourney_name          45302 non-null object
surface               45302 non-null object
tourney_level         45302 non-null object
tourney_date          45302 non-null int64
match_num             45302 non-null int64
winner_id             45302 non-null int64
winner_name           45302 non-null object
winner_hand           45302 non-null object
winner_ht             45302 non-null float64
winner_ioc            45302 non-null object
winner_age            45302 non-null float64
loser_id              45302 non-null int64
loser_name            45302 non-null object
loser_hand            45302 non-null object
loser_ht              45302 non-null float64
loser_ioc             45302 non-null object
loser_age             45302 non-null float64
score                 45302 non-null object
best_of               45302 non-null int64
round                 45302 non-null object
minutes               45302 non-null float64
w_ace                 45302 non-null float64
w_df                  45302 non-null float64
w_svpt                45302 non-null float64
w_1stIn               45302 non-null float64
w_1stWon              45302 non-null float64
w_2ndWon              45302 non-null float64
w_SvGms               45302 non-null float64
w_bpSaved             45302 non-null float64
w_bpFaced             45302 non-null float64
l_ace                 45302 non-null float64
l_df                  45302 non-null float64
l_svpt                45302 non-null float64
l_1stIn               45302 non-null float64
l_1stWon              45302 non-null float64
l_2ndWon              45302 non-null float64
l_SvGms               45302 non-null float64
l_bpSaved             45302 non-null float64
l_bpFaced             45302 non-null float64
winner_rank           45302 non-null float64
winner_rank_points    45302 non-null float64
loser_rank            45302 non-null float64
loser_rank_points     45302 non-null float64
w_ace_pct             45302 non-null float64
w_df_pct              45302 non-null float64
w_1stIn_pct           45302 non-null float64
w_2ndIn_pct           45302 non-null float64
w_1stWon_pct          45302 non-null float64
w_2ndWon_pct          45302 non-null float64
w_GmsWon              45302 non-null float64
w_GmsLoss             45302 non-null float64
l_ace_pct             45302 non-null float64
l_df_pct              45302 non-null float64
l_1stIn_pct           45302 non-null float64
l_2ndIn_pct           45302 non-null float64
l_1stWon_pct          45302 non-null float64
l_2ndWon_pct          45302 non-null float64
dtypes: float64(41), int64(5), object(12)
memory usage: 20.4+ MB

In [28]:
df.winner_hand.unique()

array(['R', 'L'], dtype=object)

In [29]:
df[df.loser_hand=='U']

,tourney_id,tourney_name,surface,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,winner_ht,...,w_1stWon_pct,w_2ndWon_pct,w_GmsWon,w_GmsLoss,l_ace_pct,l_df_pct,l_1stIn_pct,l_2ndIn_pct,l_1stWon_pct,l_2ndWon_pct
1606,2003-500,Halle,Grass,A,20030609,4,101962,Younes El Aynaoui,R,193.0,...,0.5,0.26,12.0,3.0,0.04,0.06,0.57,0.43,0.28,0.19

In [30]:
df = df[df.loser_hand!='U']

In [31]:
df.loser_hand.unique()

array(['R', 'L'], dtype=object)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45301 entries, 0 to 2588
Data columns (total 58 columns):
tourney_id            45301 non-null object
tourney_name          45301 non-null object
surface               45301 non-null object
tourney_level         45301 non-null object
tourney_date          45301 non-null int64
match_num             45301 non-null int64
winner_id             45301 non-null int64
winner_name           45301 non-null object
winner_hand           45301 non-null object
winner_ht             45301 non-null float64
winner_ioc            45301 non-null object
winner_age            45301 non-null float64
loser_id              45301 non-null int64
loser_name            45301 non-null object
loser_hand            45301 non-null object
loser_ht              45301 non-null float64
loser_ioc             45301 non-null object
loser_age             45301 non-null float64
score                 45301 non-null object
best_of               45301 non-null int64
round                 45301 non-null object
minutes               45301 non-null float64
w_ace                 45301 non-null float64
w_df                  45301 non-null float64
w_svpt                45301 non-null float64
w_1stIn               45301 non-null float64
w_1stWon              45301 non-null float64
w_2ndWon              45301 non-null float64
w_SvGms               45301 non-null float64
w_bpSaved             45301 non-null float64
w_bpFaced             45301 non-null float64
l_ace                 45301 non-null float64
l_df                  45301 non-null float64
l_svpt                45301 non-null float64
l_1stIn               45301 non-null float64
l_1stWon              45301 non-null float64
l_2ndWon              45301 non-null float64
l_SvGms               45301 non-null float64
l_bpSaved             45301 non-null float64
l_bpFaced             45301 non-null float64
winner_rank           45301 non-null float64
winner_rank_points    45301 non-null float64
loser_rank            45301 non-null float64
loser_rank_points     45301 non-null float64
w_ace_pct             45301 non-null float64
w_df_pct              45301 non-null float64
w_1stIn_pct           45301 non-null float64
w_2ndIn_pct           45301 non-null float64
w_1stWon_pct          45301 non-null float64
w_2ndWon_pct          45301 non-null float64
w_GmsWon              45301 non-null float64
w_GmsLoss             45301 non-null float64
l_ace_pct             45301 non-null float64
l_df_pct              45301 non-null float64
l_1stIn_pct           45301 non-null float64
l_2ndIn_pct           45301 non-null float64
l_1stWon_pct          45301 non-null float64
l_2ndWon_pct          45301 non-null float64
dtypes: float64(41), int64(5), object(12)
memory usage: 20.4+ MB

In [33]:
# get games between right hand and left hand players
df_RL = df[df.winner_hand != df.loser_hand]

In [34]:
df_RL.groupby('winner_hand').tourney_id.count()

winner_hand
L    4805
R    5261
Name: tourney_id, dtype: int64

In [35]:
Total_A_cln = df[df.tourney_level=='A'].tourney_id.count()
Total_G_cln = df[df.tourney_level=='G'].tourney_id.count()
Total_M_cln = df[df.tourney_level=='M'].tourney_id.count()

In [36]:
print ('Level A data quality % = '+ str(np.around(Total_A_cln / Total_A_origin, 2)))
print ('Level G data quality % = '+ str(np.around(Total_G_cln / Total_G_origin, 2)))
print ('Level M data quality % = '+ str(np.around(Total_M_cln / Total_M_origin, 2)))

Level A data quality % = 0.83
Level G data quality % = 0.86
Level M data quality % = 0.88

In [37]:
df_RL.groupby(['surface', 'winner_hand']).tourney_id.count()

surface  winner_hand
Carpet   L               104
         R               135
Clay     L              1709
         R              1666
Grass    L               543
         R               597
Hard     L              2449
         R              2863
Name: tourney_id, dtype: int64

In [38]:
df_RL.groupby(['tourney_level','surface', 'winner_hand']).tourney_id.count()

tourney_level  surface  winner_hand
A              Carpet   L                81
                        R               106
               Clay     L              1104
                        R              1095
               Grass    L               332
                        R               356
               Hard     L              1397
                        R              1618
G              Clay     L               239
                        R               239
               Grass    L               211
                        R               241
               Hard     L               415
                        R               486
M              Carpet   L                23
                        R                29
               Clay     L               366
                        R               332
               Hard     L               637
                        R               759
Name: tourney_id, dtype: int64

In [39]:
# exam round values
df.loc[:,'round'].unique()

array(['R32', 'R16', 'QF', 'SF', 'F', 'R128', 'R64', 'RR', 'BR'],
      dtype=object)

In [40]:
df[df['round']=='RR'].tourney_level.unique()

array(['A'], dtype=object)

In [41]:
df[df['round']=='BR'].tourney_level.unique()

array(['A'], dtype=object)

In [42]:
df.groupby('round').winner_id.count()

round
BR          1
F        1183
QF       4449
R128     4994
R16      8631
R32     15627
R64      7814
RR        342
SF       2260
Name: winner_id, dtype: int64

In [43]:
df[df.tourney_level=='A'].groupby('round').count()

,tourney_id,tourney_name,surface,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,winner_ht,...,w_1stWon_pct,w_2ndWon_pct,w_GmsWon,w_GmsLoss,l_ace_pct,l_df_pct,l_1stIn_pct,l_2ndIn_pct,l_1stWon_pct,l_2ndWon_pct
round,,,,,,,,,,,,,,,,,,,,,
BR,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
F,942,942,942,942,942,942,942,942,942,942,...,942,942,942,942,942,942,942,942,942,942
QF,3512,3512,3512,3512,3512,3512,3512,3512,3512,3512,...,3512,3512,3512,3512,3512,3512,3512,3512,3512,3512
R16,6795,6795,6795,6795,6795,6795,6795,6795,6795,6795,...,6795,6795,6795,6795,6795,6795,6795,6795,6795,6795
R32,12016,12016,12016,12016,12016,12016,12016,12016,12016,12016,...,12016,12016,12016,12016,12016,12016,12016,12016,12016,12016
R64,1724,1724,1724,1724,1724,1724,1724,1724,1724,1724,...,1724,1724,1724,1724,1724,1724,1724,1724,1724,1724
RR,342,342,342,342,342,342,342,342,342,342,...,342,342,342,342,342,342,342,342,342,342
SF,1796,1796,1796,1796,1796,1796,1796,1796,1796,1796,...,1796,1796,1796,1796,1796,1796,1796,1796,1796,1796

In [44]:
df[df.tourney_level=='A'].to_csv('data/match_level_A.csv')

In [45]:
print('Round code RR and BR are from level A - Other tourney level')

Round code RR and BR are from level A - Other tourney level

In [52]:
print('Added sequence number for each round')
df.loc[df['round']=='R128', 'round_num'] = 1
df.loc[df['round']=='R64', 'round_num'] = 2
df.loc[df['round']=='R32', 'round_num'] = 3
df.loc[df['round']=='R16', 'round_num'] = 4
df.loc[df['round']=='QF', 'round_num'] = 5
df.loc[df['round']=='SF', 'round_num'] = 6
df.loc[df['round']=='F', 'round_num'] = 7
print('Assigned temp value 11 and 10 for BR and RR.  RR and BR only used at leve lA games. Need more understanding on how RR and BR working in round sequence')
df.loc[df['round']=='RR', 'round_num'] = 10
df.loc[df['round']=='BR', 'round_num'] = 11

Added sequence number for each round
Assigned temp value 11 and 10 for BR and RR.  RR and BR only used at leve lA games. Need more understanding on how RR and BR working in round sequence

In [47]:
df[df.round_num.isnull()]

Empty DataFrame
Columns: [tourney_id, tourney_name, surface, tourney_level, tourney_date, match_num, winner_id, winner_name, winner_hand, winner_ht, winner_ioc, winner_age, loser_id, loser_name, loser_hand, loser_ht, loser_ioc, loser_age, score, best_of, round, minutes, w_ace, w_df, w_svpt, w_1stIn, w_1stWon, w_2ndWon, w_SvGms, w_bpSaved, w_bpFaced, l_ace, l_df, l_svpt, l_1stIn, l_1stWon, l_2ndWon, l_SvGms, l_bpSaved, l_bpFaced, winner_rank, winner_rank_points, loser_rank, loser_rank_points, w_ace_pct, w_df_pct, w_1stIn_pct, w_2ndIn_pct, w_1stWon_pct, w_2ndWon_pct, w_GmsWon, w_GmsLoss, l_ace_pct, l_df_pct, l_1stIn_pct, l_2ndIn_pct, l_1stWon_pct, l_2ndWon_pct, round_num]
Index: []

[0 rows x 59 columns]

In [48]:
# Will focus on Tourney level G and M matches
df_GM = df.query('tourney_level in ["G","M"]')

In [49]:
df_GM.groupby('round_num').tourney_id.count()

round_num
1.0    4994
2.0    6090
3.0    3611
4.0    1836
5.0     937
6.0     464
7.0     241
Name: tourney_id, dtype: int64

In [50]:
df_GM.groupby('round_num').minutes.mean()

round_num
1.0    135.741089
2.0    114.668144
3.0    115.230130
4.0    117.425381
5.0    121.071505
6.0    125.163793
7.0    139.016598
Name: minutes, dtype: float64

#### Export cleansed data to csv files for Data Story and EAD:

In [51]:
print('export cleansed data to csv files for Data Story and EAD')
df.to_csv('data/df_main.csv')
df_GM.to_csv('data/df_GM.csv')
df_RL.to_csv('data/df_RL.csv')

export cleansed data to csv files for Data Story and EAD